@inherits LayoutComponentBase

<div class="page">
    <div class="navbar-top-row pl-4 navbar navbar-dark" style="background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);">
        <a class="navbar-brand" href="">Admin Iuc Market</a>
    </div>
    <div class="main">
        <div class="top-row px-4">
            <a href="/login" class="ml-md-auto">Log in</a>
        </div>
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
